* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ebebeb;
  margin: 0;
}

/* HEADER */

header {
  background-color: #eac926;
  width: 100%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
}

#search {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: #fff;
}

#search-button {
  background: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

#search-button i {
  font-size: 16px;
  padding: 5px;
}

.logo {
  width: 40%;
}

ul.listas {
  list-style: none;
  padding: 0;
  font-weight: normal;
}

.burger-menu {
  display: flex;
  background-color: #1259c3;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

.compra-cuotas {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 15px;
}

.logo,
.form {
  display: inline-block;
  width: 50%;
  padding: 2%;
}

/* FOOTER */

footer {
  background-color: white;
  color: #666;
}

.footer-box {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 12%;
  margin-right: 12%;
}

.copyright {
  margin-left: 5%;
  padding-bottom: 1rem;
}

/* MAIN */

main {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 3%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  font-size: large;
}

.logo,
.form {
  display: inline-block;
  width: 50%;
  padding: 2%;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

input.inputs {
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  width: 70%;
  padding: 0.5%;
}

input.enviar {
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  width: 70%;
  background-color: #1259c3;
  padding: 0.5%;
  color: white;
  text-align: center;
}

input.enviar:hover {
  background-color: #0022AA;
}

/* FOOTER */

p.icono-tarjeta i{
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

p.icono-regalo i{
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

p.icono-seguridad i{
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

p.forma-pago {
  margin: 0;
}

h3.forma-pago {
  text-align: center;
  margin: 0;
  padding-top: 0.3rem;
}

footer {
  background-color: white;
  color: #666;
}

.footer-box {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 12%;
  margin-right: 12%;
}

.copyright {
  margin-left: 5%;
  padding-bottom: 1rem;
}

.footer-box .icono-tarjeta i,
.footer-box .icono-regalo i,
.footer-box .icono-seguridad i {
  color: #1259c3;
}

.footer-box .icono-tarjeta i:hover,
.footer-box .icono-regalo i:hover,
.footer-box .icono-seguridad i:hover {
  color: #eac926; /* Cambia el color a tu elección */
}

@media screen and (max-width: 575px) {
  nav {
    display: none;
  }
}

/* Media query para dispositivos tablet */
@media screen and (min-width: 576px) {
  .burger-menu {
    display: none;
  }

  ul.listas {
    list-style: none;
    padding: 0;
    display: flex;
  }

  ul.listas li {
    margin-right: 15px;
    font-size: small;
  }
  
  .compra-cuotas,
  .logo,
  .form {
    display: inline-block;
    width: 30%;
  }
}

/* Media query para desktop  */
@media screen and (min-width: 992px) {
  .top-header {
    margin-bottom: 10px;
  }

  ul.listas {
    list-style: none;
    padding: 0;
    display: flex;
  }

  ul.listas li {
    margin-right: 15px;
    font-size: large;
  }

  .compra-cuotas,
  .logo,
  .form {
    display: inline-block;
    width: 30%;
  }

  .footer-box {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px
  }

  div.pagos,
  div.envios,
  div.seguridad {
    padding: 2rem;
  }

  input.inputs {
    width: 40%;
    font-size: large;
  }
  
  input.enviar {
    width: 40%;
    font-size: large;
  }

}
